#sixth {
    display: none;
}


/* #sixth.open {
    display: block;
} */

.background-alert {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 2147483646;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0.31);
    transition: opacity 1s ease 0s;
    display: block;
    margin: auto;
}

#alert {
    border-radius: 300px;
    position: fixed;
    outline: none;
    overflow: hidden;
    z-index: 2147483647;
    display: block;
    margin-top: -300px;
    top: 50%;
    margin-left: -300px;
    left: 50%;
}

.main-alert {
    position: relative;
    outline: none;
    width: 600px;
    height: 600px;
    border-radius: 300px;
    transform-origin: center center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px 0px;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alert-form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-button {
    top: 188px;
    width: 203px;
    height: 44px;
    border-radius: 2px;
    letter-spacing: 0em;
    font-size: 21px;
    position: absolute;
    background-color: rgb(24, 85, 136);
    border: 0px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: AlmoniDLAAA-Light, sans-serif;
    left: 51.5px;
    line-height: 1;
    opacity: 1;
    box-shadow: none;
    text-align: center;
    font-weight: bold;
    direction: unset;
}

.alert-form>div {
    margin-bottom: 12px;
    border: none;
    padding: 0px;
}

.alert-form input[type="text"] {
    width: 280px;
    height: 38px;
    font-size: 16px;
    box-shadow: rgb(33, 59, 127) 0px 0px 4px -1px;
    color: rgb(21, 75, 156);
    margin-bottom: 0px;
    font-family: AlmoniDLAAA, sans-serif;
    background-color: rgb(255, 255, 255);
    border: 0px solid rgb(53, 47, 138);
    line-height: 1;
    border-radius: 2px;
    text-align: right;
    letter-spacing: 0em;
    opacity: 1;
    font-weight: 700;
    padding: 0 15px;
}

#cancel {
    left: 292px;
    top: 15px;
    position: absolute;
    cursor: pointer;
}

#t1.title {
    left: 20px;
    top: -50px;
    width: 534px;
    height: auto;
    cursor: auto;
    text-align: center;
    font-size: 0px;
    opacity: 1;
    min-height: 0px;
    z-index: 79;
    direction: unset;
    /*  */
    color: rgb(120, 42, 169);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 1;
    font-family: AlmoniDLAAA, sans-serif;
    white-space: unset;
    overflow-wrap: break-word;
    display: block;
    opacity: 1;
    width: 100%;
    vertical-align: top;
    letter-spacing: 0em;
    margin-right: 0em;
    text-shadow: none;
    direction: rtl;
    position: relative;
}

#t2.title {
    left: 20px;
    top: -30px;
    width: 356px;
    height: auto;
    position: relative;
    cursor: auto;
    text-align: center;
    font-size: 0px;
    opacity: 1;
    min-height: 0px;
    z-index: 78;
    direction: unset;
    color: rgb(21, 75, 156);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 1;
    font-family: AlmoniDLAAA-Bold, sans-serif;
    white-space: unset;
    overflow-wrap: break-word;
    display: block;
    opacity: 1;
    width: 100%;
    vertical-align: top;
    letter-spacing: 0em;
    margin-right: 0em;
    text-shadow: none;
    direction: rtl;
}

#t3.title {
    left: 20px;
    top: -30;
    width: 422px;
    height: auto;
    position: relative;
    cursor: auto;
    text-align: center;
    font-size: 0px;
    opacity: 1;
    min-height: 0px;
    z-index: 76;
    /*  */
    color: rgb(120, 42, 169);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1;
    font-family: AlmoniDLAAA, sans-serif;
    white-space: unset;
    overflow-wrap: break-word;
    display: block;
    opacity: 1;
    width: 100%;
    vertical-align: top;
    letter-spacing: 0em;
    margin-right: 0em;
    text-shadow: none;
    direction: rtl;
}