    #fourth {
        width: 100%;
        float: right;
        background: #fbfcfc;
        padding-top: 94px;
        padding-bottom: 50px;
    }
    
    #fourth .main {
        margin: 0 auto;
        width: 940px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    #fourth .video span {
        margin-right: 11px;
        font-weight: 900;
        font-size: 20px;
        color: #213a7f;
    }
    
    #fourth h3.title {
        font-size: 44px;
        margin: 60px 0px 15px;
        color: #333;
        font-weight: 700;
    }
    
    #fourth h4 {
        font-size: 30px;
        margin-bottom: 11px;
        color: #333;
        font-weight: 700;
    }
    
    #fourth .video img {
        margin-bottom: 11px;
        width: 300px;
        vertical-align: middle;
    }
    
    #fourth .video span img {
        margin-top: -5px;
        width: 20px;
        margin-right: 5px;
    }
    
    .process-explanaition {
        display: flex;
        flex-wrap: wrap;
    }
    
    .process-explanaition p {
        width: 290px;
        color: #333;
        font-size: 18px;
        margin-left: 17px;
    }
    
    .process-animations {
        display: flex;
        width: 100%;
    }
    
    .process-animations .level {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 310px;
        margin: auto;
        animation: level-1 1500ms ease-in 0s 1;
    }
    
    .level .num {
        text-align: Center;
        border-radius: 50%;
        margin: 17px auto 0;
        /* -moz-border-radius: 50%;
    -webkit-border-radius: 50%; */
        width: 55px;
        height: 55px;
        background: #fff;
        font-family: almoni-dl;
        font-size: 45px;
    }
    
    .process-animations .level:nth-child(1) {
        animation-delay: 0.3s;
    }
    
    .process-animations .level:nth-child(2) {
        animation-delay: 0.6s;
    }
    
    .process-animations .level:nth-child(3) {
        animation-delay: 0.9s;
    }
    
    .process-animations .level:nth-child(4) {
        animation-delay: 1.2s;
    }
    
    .num span {
        position: relative;
        display: block;
        height: 100%;
        top: -5px;
    }
    
    .vc {
        position: absolute;
        right: 0;
        top: 43px;
    }
    
    #fourth .level h5 {
        font-size: 26px;
        text-align: center;
        color: #fff;
    }
    
    .level .line {
        height: 1px;
        width: 197px;
        background: #fff;
        margin: 0 auto;
    }
    
    #fourth .level p {
        line-height: 1.2;
        margin-top: 11px;
        font-size: 18px;
        font-weight: 400;
        width: 207px;
        color: #fff;
        margin-right: 6.5px;
        text-align: Center;
        padding-left: 5px;
        padding-right: 5px;
        margin: auto;
    }
    
    #fourth .video {
        width: 305px;
        height: 215px;
        -webkit-box-shadow: 3px 3px 7px 0 rgba(139, 145, 147, .4);
        -moz-box-shadow: 3px 3px 7px 0 rgba(139, 145, 147, .4);
        box-shadow: 3px 3px 7px 0 rgba(139, 145, 147, .4);
        background: #fff;
        position: absolute;
        top: -220px;
        left: 110px;
        padding: 2px;
    }
    
    #fourth a .meeting {
        font-size: 26px;
        text-align: center;
        color: #fff;
        margin: 49px auto 0;
        width: 302px;
        height: 70px;
        padding: 3px;
        background: #213a7f;
    }
    
    #fourth .meeting .mt {
        padding-top: 10px;
        width: 100%;
        height: 100%;
        border: 2px solid #aad6be;
    }
    
    @media(max-width:1000px) {
        #fourth .main {
            width: 100%;
        }
        .process-explanaition {
            flex-direction: column;
            align-items: center;
        }
        .process-explanaition p {
            width: 290px;
            color: #333;
            font-size: 18px;
            margin-top: 17px;
        }
        .process-animations {
            display: none;
        }
        #fourth .video {
            position: relative;
            top: -190px;
            left: auto;
            margin: 0px auto;
        }
    }
    
    @keyframes level-1 {
        0% {
            opacity: 0;
            transform: translateX(2000px);
        }
        60% {
            opacity: 1;
            transform: translateX(-30px);
        }
        80% {
            -webkit-transform: translateX(10px);
            transform: translateX(10px);
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateX(0);
        }
    }